.tableContainer{
    margin-top: 50px;
  }
  .addContainer table{
    border:1px solid #c9c5c2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,2);

  }

  .tableContainer table thead tr{
    background-color:#f0eaea;
   
  }

  .tableContainer table thead tr th,
  .tableContainer table tbody tr td{
    min-width: 150px;
    padding: 7px;
    text-align: center;
  }
  .tableContainer table thead tr td{
    border-bottom:1px solid #c9c5c2 ;
  }
  